@page "/experience"

<div class="resume-section p-3 p-lg-5 d-flex justify-content-center">
    <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Full Stack Engineer</h3>
                <div class="subheading mb-3">JATO Dynamics</div>
                <p>At JATO, I work as part of a team to launch the WLTP platform, as well as the Compass and Horizon platforms.  My day to day responsibilities include developing front end and back end web applications, reviewing code from the company as a whole, working with my team members to remove roadblocks, and mentoring the junior level developers.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2018 - Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Software Developer</h3>
                <div class="subheading mb-3">Amrock (formerly Title Source)</div>
                <p>At Title Source, I worked on several different teams and projects.  Day to day, I worked mentoring team members who which to transition to Software Development, working inside the code base to complete enhancements and improvements, as well as identifying and remedying security vulnerabilities inside the code base.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2016 - 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Owner</h3>
                <div class="subheading mb-3">Woods Technological Solutions</div>
                <p>I started Woods Technological Solutions to bring small businesses into the modern, digital world.  I began on my own, but grew the company to four developers working on projects for companies in the midwest and internationally.  We specialized in automating manual processes to save businesses time, money, and hassle.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2010 - 2019</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Junior Developer - Contract</h3>
                <div class="subheading mb-3">Cimulus Software</div>
                <p>At Cimulus, I was tasked with overseeing the DART website and portal, matching lending organization to notaries and appraisers.  I was tasked with day to day maintenance and enhancement of the website, as well as a larger project of migrating the website from ASP and Visual Basic, to .NET and c# using MVC. </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2013 - 2013</span>
            </div>
        </div>
    </div>
</div>