@page "/"

<h1>Alexander J. <span class="orange">Woods</span></h1>
<div class="subheading mb-5">
    <i>
        .NET Engineer | Detroit, MI |
        <span class="orange">alexanderjwoods06@outlook.com</span>
    </i>
</div>

<p class="lead">I am an experienced .NET Engineer from the Detroit Michigan area with over seven years developing in the C# language.  I specialize in building full stack cloud based applications in the latest technolgoies including .NET Core and Blazor.</p>

<div class="social-icons">
    <a href="http://www.linkedin.com/in/alexander-j-woods">
        <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://github.com/alexanderjwoods">
        <i class="fa fa-github"></i>
    </a>
</div>