<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">{{ title }}</h2>
        <div *ngFor="let element of elements" class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{ element.institution }}</h3>
                <div class="subheading mb-3">{{ element.degree }}</div>
                <div *ngIf="element.description !== ''">{{ element.description }}</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{{ element.year }}</span></div>
        </div>
    </div>
</section>