<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><img class="icon" src="..\..\assets\images\csharp_icon.png" /></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-sass"></i></li>
            <li class="list-inline-item"><img class="icon" src="..\..\assets\images\sql_icon.png" /></li>
            <li class="list-inline-item"><img class="icon" src="..\..\assets\images\mysql_icon.png" /></li>
            <li class="list-inline-item"><img class="icon" src="..\..\assets\images\mongo_icon.png" /></li>
            <li class="list-inline-item"><img class="icon" src="..\..\assets\images\netcore_icon.png" /></li>
            <li class="list-inline-item"><img class="icon" src="..\..\assets\images\blazor_icon.png" /></li>
            <li class="list-inline-item"><img class="icon" src="..\..\assets\images\api_icon.png" /></li>
            <li class="list-inline-item"><img class="icon" src="..\..\assets\images\tfs_icon.png" /></li>
            <li class="list-inline-item"><i class="fab fa-github-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-jira"></i></li>
            <li class="list-inline-item"><i class="fab fa-github"></i></li>
            <li class="list-inline-item"><i class="fab fa-npm"></i></li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Team Leadership And Mentoring
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Test Driven Development
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Mobile-First, Responsive Design
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Browser Testing & Debugging
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Functional Teams
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum
            </li>
        </ul>
    </div>
</section>