<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Certified Scrum Master
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Certifed SAFe 4 Practicioner
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                OWASP Certified - 2018, 2019, 2020
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                1
                <sup>st</sup>
                Place - NASTAR Nation Snowboard Championships - 2008, 2009, 2010
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                3
                <sup>rd</sup>
                Place - NASTAR Nation Snowboard Championships - 2007
            </li>
        </ul>
    </div>
</section>