@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        &copy; 2019 - @DateTime.Now.Year  Alexander J. Woods
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>