<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Washtenaw Community College</h3>
                <div class="subheading mb-3">Associate of Science</div>
                <div>Computer Science - C++ Programming</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Dexter High School</h3>
                <div class="subheading mb-3">Diploma</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2010</span></div>
        </div>
    </div>
</section>