<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Alexander J.
            <span class="text-primary">Woods</span>
        </h1>
        <div class="subheading mb-5">
            Southeast Michigan · (734) 646-4866 ·
            <a href="mailto:alexanderjwoods06@outlook.com">alexanderjwoods06@outlook.com</a>
        </div>
        <p class="lead mb-5">10 years experience working in software development, with a concentration in c# and Azure development.  Proven ability to build scalable full stack applications using a variety of frameworks including Blazor, MVC, and Angular, built utilizing Cloud Architectures.</p>
        <div class="social-icons">
            <a class="social-icon" target="_blank" href="http://www.linkedin.com/in/alexander-j-woods"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" target="_blank" href="https://github.com/alexanderjwoods"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>